html {
  font-size: 70%;
}

header img {
  width: 170px;
  height: 30px;
}

.header--title-container h1 {
  font-size: 3rem;
}

.product-card-container {
  display: flex;
  flex-wrap: wrap;
  width: 780px;
  margin: 0 auto;
}

.plans-slider {
  justify-content: center;
  overflow: auto;
  gap: 20px;
}

.main-tables-container {
  display: flex;
  width: 780px;
  margin: 50px auto;
  justify-content: space-evenly;
}
