:root {
  --font-sans: "DM Sans", sans-serif;
  --font-inter: "Inter", sans-serif;
  --size-300: 300;
  --size-400: 400;
  --size-500: 500;
  --size-700: 700;
  --background: #e5e5e5;
  --linear-gradient: 207.8deg, #201e1c 16.69%, #f7931a 100%;
  --bitcoin-orage: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #0791e6;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --gray: #bababa;
  --off-white: #faf8f7;
  --just-white: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  /* position: relative; */
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}

header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center;
}

header h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}

header p {
  margin-top: 24px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  font-style: normal;
  color: var(--soft-orange);
}

.header--title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
  align-self: center;
}

.header--button {
  position: absolute;
  left: calc(50% - 118px);
  top: 270px;
  display: block;
  margin-top: 35px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background: var(--off-white);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 4px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}

.header--button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url("./assets/icons/down-arrow.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}

.main__exchange__container {
  width: 100%;
  height: auto;
  padding: 80px 0 30px 0;
  text-align: center;
}

.main__exchange__container--title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}

.background__imageContainer {
  width: 200px;
  height: 200px;
  background-image: url(./assets/img/Bitcoin.svg);
  margin: 0 auto;
  margin-bottom: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main__exchange__container h2 {
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-weight: bold;
  margin-bottom: 30px;
  color: var(--black);
}

.main__exchange__container p {
  font-size: 1.4rem;
  line-height: 1.6rem;
  font-weight: 500;
  margin-bottom: 30px;
  color: #757575;
}

.main-tables-container {
  background-color: var(–grey);
}

.main-tables-container .tables-title {
  color: var(--secondary-blue);
  font-weight: 900;
}
.main-tables-grid {
  display: grid;
  grid-template: repeat(4, 50px) / 100px 100px;
  width: 100%;
  border-radius: 10px;
  justify-content: center;
}
.main-tables-grid .main-tables-child {
  background-color: var(–off-white);
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  background-color: var(--off-white);
}

.main-tables-child:nth-last-child(8) {
  border-radius: 15px 0 0 0;
}
.main-tables-child:nth-last-child(1) {
  border-radius: 0 0 15px 0;
}
.main-tables-child:nth-last-child(7) {
  border-radius: 0 15px 0 0;
}
.main-tables-child:nth-last-child(2) {
  border-radius: 0 0 0 15px;
}

.up span {
  width: 15px;
  height: 15px;
  padding: 5px;
  margin: 5px;
  background-image: url(./assets/icons/trending-up.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.down span {
  width: 15px;
  height: 15px;
  padding: 5px;
  margin: 5px;
  background-image: url(./assets/icons/trending-down.svg);
  background-size: contain;
  background-repeat: no-repeat;
}

.secondary-tables-grid {
  display: grid;
  grid-template: repeat(4, 50px) / 100px 100px;
  width: 100%;
  border-radius: 10px;
  justify-content: center;
}
.secondary-tables-grid .secondary-tables-child {
  background-color: var(–off-white);
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  background-color: var(--off-white);
}

.secondary-tables-child:nth-last-child(8) {
  border-radius: 15px 0 0 0;
}
.secondary-tables-child:nth-last-child(1) {
  border-radius: 0 0 15px 0;
}
.secondary-tables-child:nth-last-child(7) {
  border-radius: 0 15px 0 0;
}
.secondary-tables-child:nth-last-child(2) {
  border-radius: 0 0 0 15px;
}

.main-product-detail {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  background-color: var(--warm-black);
}

.product-detail-logo {
  position: absolute;
  width: 40px;
  height: 25px;
  background-image: url(/assets/icons/batata.svg);
  left: calc(50% - 20px);
  top: -12px;
}

.product-detail-title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

.product-detail-title h2 {
  font-size: 2.4rem;
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}

.product-detail-title p {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  color: #7c7c7c;
}

.product-card {
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  height: 150px;
  margin: 15px auto;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
  background-color: #2e2e2e;
}

.card-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.clock {
  background-image: url(/assets/icons/clock.svg);
}
.eye {
  background-image: url(/assets/icons/eye.svg);
}
.dolar {
  background-image: url(/assets/icons/dollar-sign.svg);
}
.circle {
  background-image: url(/assets/icons/check-circle.svg);
}

.product-card-title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--just-white);
}
.product-card-body {
  margin-bottom: 15px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}
